.title {
    font-size: xx-large;

}

.title-header {
    display: block;
    text-align: center;
    
}

.image {
    text-align: center;
    margin:  0 auto;
}

.information-page {
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
}

.information-page-container {
    

}

h2{
    text-align: center;
}